*{
    box-sizing: border-box;
}

body{
    background-color: aqua;
    background-size: cover;
    background-position:center center;
    
}

h1{
    text-align: center;
}

.price{
    text-align: center;
}

.class{
    float: left;
}

p{
    text-align: left;
    margin: 1px;
}

#form{
    margin-top: 5%;
    margin-left:32%;
    margin-right:0%;
    border: 0.02rem;
    float:left;
    color:black;
    font-size: 1.5rem;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 5px 15px;
    margin: 4px 0;
    box-sizing: border-box;
    font-size: 1rem;
}

.submit{
    background:grey;
    width: 30%;
    padding: 5px 15px;
    
}


.duplicate{
    border-style: solid;
   background:rgb(125, 88, 228);
   margin-top: 2%;
    margin-left:0%;
    margin-right:10%;
    float:right;
    
}

.return{
    border-style: solid;
   background:aquamarine;
   margin-top: 5%;
    margin-left:0%;
    margin-right:15%;
    float:right;
    
}



button{
    background:grey;
    width: 40%;
    padding: 5px 15px;
    margin-left:35%;
}


#confirmed{
    margin-top: 5%;
    margin-left:0%;
    margin-right:10%;
    border: 0.4rem;
    float: right;;
    color:black;
    background: gray;
    font-size: 1.5rem;
    font-weight: bold;
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
}
